.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  font-size: 3rem;
}

.App-intro {
  font-size: large;
  color: #61dafb;
}

.interactive-button {
  background-color: #61dafb;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  border-radius: 5px;
}

.interactive-button:hover {
  background-color: #21a1f1;
}

.Footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  text-align: center;
}
